---
import DetalleProyecto from '../components/DetalleProyecto.astro'
import LinksProyecto from '../components/LinksProyecto.astro'

interface Items {
    icon: string
    item: string
    url: string
}

interface Props {
    title: string
    imagen: string
    herramientas: string
    credenciales: string
    links: Array<Items>
}

const { title, imagen, herramientas, credenciales, links } =
    Astro.props
---

<div class='md:grid lg:grid-cols-2 gap-4 mb-10'>
    <picture>
        <img class='!w-full !h-auto' src={imagen} alt=`Proyecto-${title}` />
    </picture>
    <div class=''>
        <h3 class='text-2xl font-bold mb-2'>{title}</h3>
        <p class='mb-2'>
            <slot />
        </p>
        {
            herramientas && (
                <DetalleProyecto
                    title='Herramientas'
                    bg='bg-red-700'
                    color='text-white'
                    items={herramientas}
                />
            )
        }

        {
            credenciales && (
                <DetalleProyecto
                    title='Credenciales'
                    bg='bg-sky-500'
                    color='text-white'
                    items={credenciales}
                />
            )
        }

        {
            links.length > 0 && (
                <LinksProyecto
                    title='Links:'
                    bg='hover:bg-sky-400'
                    border='border-sky-400'
                    color='text-white'
                    items={links}
                />
            )
        }
    </div>
</div>
