---
interface Props {
    color: string
    bg: string
    border: string
    text: string
    url: string
    icon: string
}

const { bg, color, text, border, url, icon } = Astro.props
---

<a
    class=`rounded px-3 py-1 cursor-pointer border ${border} ${bg}
    transition-colors duration-500 ease-in-out ${color} text-sm
    font-semibold !flex justify-center items-center`
    href={url}
>
    {icon && <><i class=`fa ${icon}`></i>&nbsp;</>}
    {text}
</a>